<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dev.mccue.resolve.maven.MavenCoordinate" level="TRACE"/>

    <logger name="dev.mccue.resolve.maven.MavenRepository" level="TRACE"/>
    <logger name="dev.mccue.resolve.maven.HttpTransport" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>